In [1]:
import pandas as pd
df = pd.read_csv("/home/eben-success/Desktop/Projects/Machine Learning/Machine_Learning_Ex_-_Mini_Projects/12. Naive Bayesian/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked', 'Parch', 'SibSp', 'Pclass'], axis=1, inplace=True)
df.head()

   Survived     Sex   Age     Fare
0         0    male  22.0   7.2500
1         1  female  38.0  71.2833
2         1  female  26.0   7.9250
3         1  female  35.0  53.1000
4         0    male  35.0   8.0500

In [3]:
target = df.Survived
input = df.drop('Survived', axis=1)

In [4]:
dummies = pd.get_dummies(input.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [5]:
input = pd.concat([input, dummies], axis='columns')
input.head()

      Sex   Age     Fare  female  male
0    male  22.0   7.2500       0     1
1  female  38.0  71.2833       1     0
2  female  26.0   7.9250       1     0
3  female  35.0  53.1000       1     0
4    male  35.0   8.0500       0     1

In [6]:
input.drop('Sex', axis='columns', inplace=True)

In [7]:
input.head()

    Age     Fare  female  male
0  22.0   7.2500       0     1
1  38.0  71.2833       1     0
2  26.0   7.9250       1     0
3  35.0  53.1000       1     0
4  35.0   8.0500       0     1

In [8]:
input.isnull().sum()

Age       177
Fare        0
female      0
male        0
dtype: int64

In [9]:
input.fillna(input.Age.mean(), inplace=True)

In [10]:
input.isnull().sum()

Age       0
Fare      0
female    0
male      0
dtype: int64

## Training the model

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(input, target, test_size=0.3, random_state=10)

### Using Naive Bayesian

In [13]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [14]:
model.fit(X_train, y_train)

GaussianNB()

In [16]:
model.score(X_test, y_test)

0.8059701492537313

In [17]:
model.predict_proba(X_test)

array([[9.76007277e-01, 2.39927228e-02],
       [9.73980563e-01, 2.60194369e-02],
       [9.75842824e-01, 2.41571763e-02],
       [1.10244630e-04, 9.99889755e-01],
       [9.91436634e-03, 9.90085634e-01],
       [9.73690363e-01, 2.63096365e-02],
       [9.75610531e-01, 2.43894694e-02],
       [9.72781063e-01, 2.72189372e-02],
       [9.76315105e-01, 2.36848946e-02],
       [9.74841540e-01, 2.51584597e-02],
       [9.76167798e-01, 2.38322019e-02],
       [1.94524097e-02, 9.80547590e-01],
       [3.80635894e-02, 9.61936411e-01],
       [9.76322366e-01, 2.36776335e-02],
       [9.76539552e-01, 2.34604475e-02],
       [9.74655222e-01, 2.53447784e-02],
       [9.76391560e-01, 2.36084404e-02],
       [9.59817146e-01, 4.01828538e-02],
       [3.85811731e-02, 9.61418827e-01],
       [9.76180003e-01, 2.38199972e-02],
       [9.76902699e-01, 2.30973015e-02],
       [9.76493957e-01, 2.35060433e-02],
       [3.91881236e-02, 9.60811876e-01],
       [9.75628758e-01, 2.43712415e-02],
       [9.69347805e-01, 3.06521945e-02],
       [9.74377973e-01, 2.56220271e-02],
       [9.74119400e-01, 2.58806003e-02],
       [8.64551275e-01, 1.35448725e-01],
       [9.69143844e-01, 3.08561559e-02],
       [1.55819101e-02, 9.84418090e-01],
       [2.75240800e-02, 9.72475920e-01],
       [9.74655222e-01, 2.53447784e-02],
       [2.94022847e-02, 9.70597715e-01],
       [9.75824831e-01, 2.41751685e-02],
       [3.30828707e-02, 9.66917129e-01],
       [9.76260048e-01, 2.37399520e-02],
       [3.84165804e-02, 9.61583420e-01],
       [1.04531163e-07, 9.99999895e-01],
       [9.76256514e-01, 2.37434856e-02],
       [9.76324951e-01, 2.36750487e-02],
       [9.75575787e-01, 2.44242125e-02],
       [9.76334253e-01, 2.36657472e-02],
       [9.76276982e-01, 2.37230183e-02],
       [3.44726313e-02, 9.65527369e-01],
       [9.59239290e-01, 4.07607096e-02],
       [9.75608420e-01, 2.43915801e-02],
       [9.74480002e-01, 2.55199979e-02],
       [9.74502527e-01, 2.54974728e-02],
       [2.04248790e-02, 9.79575121e-01],
       [9.51005214e-01, 4.89947860e-02],
       [9.64972763e-01, 3.50272373e-02],
       [9.74349883e-01, 2.56501165e-02],
       [9.76120054e-01, 2.38799459e-02],
       [9.53224573e-01, 4.67754269e-02],
       [9.60088829e-01, 3.99111712e-02],
       [2.34810418e-03, 9.97651896e-01],
       [9.56632545e-01, 4.33674548e-02],
       [3.94269071e-02, 9.60573093e-01],
       [1.01438271e-09, 9.99999999e-01],
       [9.75690171e-01, 2.43098289e-02],
       [9.75623928e-01, 2.43760725e-02],
       [1.06274688e-02, 9.89372531e-01],
       [3.95508813e-02, 9.60449119e-01],
       [3.99199898e-02, 9.60080010e-01],
       [9.20654489e-01, 7.93455105e-02],
       [9.73284389e-01, 2.67156109e-02],
       [9.76020429e-01, 2.39795713e-02],
       [9.76332973e-01, 2.36670270e-02],
       [9.76241023e-01, 2.37589771e-02],
       [4.04857182e-02, 9.59514282e-01],
       [9.72202086e-01, 2.77979141e-02],
       [9.74400854e-01, 2.55991463e-02],
       [9.73982394e-01, 2.60176059e-02],
       [9.56774754e-01, 4.32252462e-02],
       [4.05103474e-02, 9.59489653e-01],
       [9.72347914e-01, 2.76520865e-02],
       [9.75140436e-01, 2.48595640e-02],
       [9.57499792e-01, 4.25002083e-02],
       [9.76068225e-01, 2.39317750e-02],
       [9.75952990e-01, 2.40470102e-02],
       [9.76759151e-01, 2.32408488e-02],
       [9.76256514e-01, 2.37434856e-02],
       [9.33034157e-01, 6.69658430e-02],
       [5.74767872e-02, 9.42523213e-01],
       [3.90400929e-02, 9.60959907e-01],
       [9.76729368e-01, 2.32706320e-02],
       [2.31527006e-03, 9.97684730e-01],
       [3.09479798e-02, 9.69052020e-01],
       [9.76800628e-01, 2.31993724e-02],
       [3.58815540e-02, 9.64118446e-01],
       [9.76342141e-01, 2.36578595e-02],
       [9.76254148e-01, 2.37458515e-02],
       [9.74436713e-01, 2.55632872e-02],
       [9.76298260e-01, 2.37017396e-02],
       [2.43733352e-02, 9.75626665e-01],
       [3.95040217e-02, 9.60495978e-01],
       [3.57319951e-02, 9.64268005e-01],
       [9.76543366e-01, 2.34566345e-02],
       [2.13801695e-02, 9.78619830e-01],
       [9.74927767e-01, 2.50722329e-02],
       [9.56683778e-01, 4.33162222e-02],
       [9.52452368e-01, 4.75476316e-02],
       [9.76138049e-01, 2.38619508e-02],
       [9.63205173e-01, 3.67948275e-02],
       [3.99568252e-02, 9.60043175e-01],
       [1.03480914e-02, 9.89651909e-01],
       [9.74655222e-01, 2.53447784e-02],
       [5.00869318e-01, 4.99130682e-01],
       [4.01983334e-02, 9.59801667e-01],
       [9.75600310e-01, 2.43996898e-02],
       [3.94252559e-02, 9.60574744e-01],
       [9.75754884e-01, 2.42451155e-02],
       [1.05484679e-02, 9.89451532e-01],
       [9.76298260e-01, 2.37017396e-02],
       [9.71896866e-01, 2.81031336e-02],
       [9.01182644e-01, 9.88173558e-02],
       [9.64439117e-01, 3.55608835e-02],
       [2.75607290e-02, 9.72439271e-01],
       [3.88747127e-02, 9.61125287e-01],
       [9.13639298e-01, 8.63607019e-02],
       [4.29030804e-04, 9.99570969e-01],
       [9.59103558e-01, 4.08964419e-02],
       [2.46645122e-02, 9.75335488e-01],
       [3.50386943e-02, 9.64961306e-01],
       [4.06471092e-02, 9.59352891e-01],
       [3.95508813e-02, 9.60449119e-01],
       [7.76003303e-03, 9.92239967e-01],
       [9.76850338e-01, 2.31496616e-02],
       [9.76298260e-01, 2.37017396e-02],
       [9.59124796e-01, 4.08752038e-02],
       [3.53598024e-02, 9.64640198e-01],
       [9.75038264e-01, 2.49617362e-02],
       [9.75414342e-01, 2.45856580e-02],
       [1.80210032e-04, 9.99819790e-01],
       [3.76062278e-02, 9.62393772e-01],
       [3.96194096e-02, 9.60380590e-01],
       [9.76800104e-01, 2.31998957e-02],
       [9.75716121e-01, 2.42838790e-02],
       [1.19475323e-10, 1.00000000e+00],
       [9.69123950e-01, 3.08760497e-02],
       [3.96079457e-02, 9.60392054e-01],
       [9.75842824e-01, 2.41571763e-02],
       [9.75555089e-01, 2.44449114e-02],
       [9.60904505e-01, 3.90954952e-02],
       [9.76183746e-01, 2.38162536e-02],
       [9.76859954e-01, 2.31400460e-02],
       [9.76878909e-01, 2.31210906e-02],
       [9.53478693e-01, 4.65213074e-02],
       [9.74346186e-01, 2.56538141e-02],
       [9.74939719e-01, 2.50602812e-02],
       [9.76269626e-01, 2.37303736e-02],
       [9.73127844e-01, 2.68721558e-02],
       [1.33719573e-02, 9.86628043e-01],
       [9.71968085e-01, 2.80319152e-02],
       [9.76388599e-01, 2.36114013e-02],
       [3.59928268e-02, 9.64007173e-01],
       [9.76183746e-01, 2.38162536e-02],
       [9.75692693e-01, 2.43073071e-02],
       [9.76256514e-01, 2.37434856e-02],
       [9.76180003e-01, 2.38199972e-02],
       [9.75565458e-01, 2.44345423e-02],
       [3.95508813e-02, 9.60449119e-01],
       [4.01680240e-02, 9.59831976e-01],
       [9.76276982e-01, 2.37230183e-02],
       [9.73203474e-01, 2.67965262e-02],
       [4.01439135e-02, 9.59856087e-01],
       [9.62356841e-01, 3.76431593e-02],
       [9.73502306e-01, 2.64976942e-02],
       [4.06181926e-02, 9.59381807e-01],
       [9.74607713e-01, 2.53922866e-02],
       [4.06069473e-02, 9.59393053e-01],
       [9.51193861e-01, 4.88061386e-02],
       [9.49332075e-01, 5.06679250e-02],
       [4.05614420e-02, 9.59438558e-01],
       [9.49310869e-01, 5.06891314e-02],
       [9.74252818e-01, 2.57471822e-02],
       [9.73659269e-01, 2.63407314e-02],
       [9.60224794e-01, 3.97752063e-02],
       [9.72884300e-01, 2.71156996e-02],
       [9.76089183e-01, 2.39108171e-02],
       [3.96519466e-02, 9.60348053e-01],
       [4.06382319e-02, 9.59361768e-01],
       [9.74655222e-01, 2.53447784e-02],
       [9.72826494e-01, 2.71735060e-02],
       [9.75940851e-01, 2.40591487e-02],
       [9.64292110e-01, 3.57078898e-02],
       [9.75550479e-01, 2.44495212e-02],
       [9.76195559e-01, 2.38044406e-02],
       [9.74527497e-01, 2.54725028e-02],
       [9.76833897e-01, 2.31661031e-02],
       [3.92280103e-02, 9.60771990e-01],
       [2.37851781e-02, 9.76214822e-01],
       [9.62203801e-01, 3.77961994e-02],
       [9.71709754e-01, 2.82902459e-02],
       [9.34072673e-01, 6.59273268e-02],
       [9.61388759e-01, 3.86112405e-02],
       [9.66695776e-01, 3.33042245e-02],
       [9.64949154e-01, 3.50508460e-02],
       [3.86967798e-02, 9.61303220e-01],
       [9.76141470e-01, 2.38585299e-02],
       [9.74682924e-01, 2.53170761e-02],
       [9.67482325e-01, 3.25176746e-02],
       [9.69309202e-01, 3.06907980e-02],
       [9.73392784e-01, 2.66072164e-02],
       [9.76256514e-01, 2.37434856e-02],
       [9.76276982e-01, 2.37230183e-02],
       [9.66045847e-01, 3.39541533e-02],
       [9.76123934e-01, 2.38760659e-02],
       [3.28267362e-02, 9.67173264e-01],
       [9.62281352e-01, 3.77186482e-02],
       [3.46997644e-02, 9.65300236e-01],
       [9.76292293e-01, 2.37077073e-02],
       [9.74119400e-01, 2.58806003e-02],
       [9.55409457e-01, 4.45905426e-02],
       [9.75678613e-01, 2.43213871e-02],
       [3.93510418e-02, 9.60648958e-01],
       [3.95508813e-02, 9.60449119e-01],
       [9.74994126e-01, 2.50058744e-02],
       [9.74138148e-01, 2.58618522e-02],
       [9.72798552e-01, 2.72014482e-02],
       [3.49169760e-02, 9.65083024e-01],
       [9.76519377e-01, 2.34806229e-02],
       [8.74469822e-03, 9.91255302e-01],
       [4.05617185e-02, 9.59438281e-01],
       [3.67029117e-02, 9.63297088e-01],
       [3.48747781e-02, 9.65125222e-01],
       [9.76313742e-01, 2.36862584e-02],
       [9.62288023e-01, 3.77119771e-02],
       [4.03730080e-02, 9.59626992e-01],
       [2.01434950e-08, 9.99999980e-01],
       [9.73671633e-01, 2.63283669e-02],
       [9.75836915e-01, 2.41630852e-02],
       [3.96194096e-02, 9.60380590e-01],
       [9.73855591e-01, 2.61444093e-02],
       [9.63465547e-01, 3.65344532e-02],
       [9.74336049e-01, 2.56639507e-02],
       [9.76254744e-01, 2.37452561e-02],
       [3.56822313e-02, 9.64317769e-01],
       [9.74521005e-01, 2.54789950e-02],
       [4.01606632e-02, 9.59839337e-01],
       [1.76149546e-07, 9.99999824e-01],
       [2.21786482e-08, 9.99999978e-01],
       [2.14774250e-02, 9.78522575e-01],
       [9.74892596e-01, 2.51074043e-02],
       [9.61607919e-01, 3.83920812e-02],
       [9.76880411e-01, 2.31195891e-02],
       [9.76265186e-01, 2.37348142e-02],
       [9.54589042e-01, 4.54109582e-02],
       [3.45310542e-02, 9.65468946e-01],
       [9.76298260e-01, 2.37017396e-02],
       [9.76153516e-01, 2.38464842e-02],
       [9.45242979e-01, 5.47570211e-02],
       [9.76813955e-01, 2.31860447e-02],
       [9.75470239e-01, 2.45297605e-02],
       [5.05670843e-04, 9.99494329e-01],
       [2.73658359e-02, 9.72634164e-01],
       [9.55409457e-01, 4.45905426e-02],
       [9.76180632e-01, 2.38193676e-02],
       [3.51107770e-02, 9.64889223e-01],
       [9.73215996e-01, 2.67840043e-02],
       [9.76246295e-01, 2.37537051e-02],
       [9.62288023e-01, 3.77119771e-02],
       [3.87541923e-02, 9.61245808e-01],
       [3.44117761e-05, 9.99965588e-01],
       [1.69950206e-02, 9.83004979e-01],
       [3.81918015e-02, 9.61808199e-01],
       [3.96503749e-02, 9.60349625e-01],
       [3.95806537e-02, 9.60419346e-01]])