In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/home/eben-success/Desktop/Project/Machine Learning/Linear_Regression/train_test_split/carprices.csv")
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [ ]:
X = df[["Mileage", "Age(yrs)"]].values
X

array([[69000,     6],
       [35000,     3],
       [57000,     5],
       [22500,     2],
       [46000,     4],
       [59000,     5],
       [52000,     5],
       [72000,     6],
       [91000,     8],
       [67000,     6],
       [83000,     7],
       [79000,     7],
       [59000,     5],
       [58780,     4],
       [82450,     7],
       [25400,     3],
       [28000,     2],
       [69000,     5],
       [87600,     8],
       [52000,     5]])

In [ ]:
y = df["Sell Price($)"]
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     26750
6     32000
7     19300
8     12000
9     22000
10    18700
11    19500
12    26000
13    27500
14    19400
15    35000
16    35500
17    19700
18    12800
19    28200
Name: Sell Price($), dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

## Split the data into train test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
dfle = LinearRegression()

In [ ]:
dfle.fit(X_train, y_train)

LinearRegression()

In [ ]:
dfle.predict(X_test)

array([20668.52722622, 16762.33242213, 25160.18381011, 27209.30003936,
       37903.32633702, 14729.61531335])

In [ ]:
dfle.score(X_test, y_test)

0.921242248377633